<!doctype html>
<html lang="en" data-ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
      <script src="bower_components/angular/angular.js" ></script>
  </head>
  <body>
    <h3>Hello world!!!</h3>
    <div class="container">
        Name : <input type= "text"  data-ng-model="name" />
        <div data-ng-controller="simpleController">
            <ul>
                <li data-ng-repeat="customer in customers | filter:name | orderBy: 'city':'reverse' ">{{customer.name}} | {{customer.city}}</li>
            </ul>
        </div>
    </div>
  <script>
      function simpleController($scope){
          demoApp = angular.module('demoApp');
          demoApp.controller('simpleController',function ($scope) {
              $scope.customers = [
                  {name:'John Smith',city:'Bangalore'},
                  {name:'John Doe',city:'Delhi'},
                  {name:'Frank',city:'Chennai'}
              ];
          });

      }
  </script>
  </body>
</html>
